
  
  <div class="mat-dialog-box full-screen-dialog" fxFlex fxLayout="column">
    <h2 mat-dialog-title>Create New Item</h2>
    <div mat-dialog-content fxLayout="column" fxLayoutAlign="start start">
      <!-- Your form content -->
      <form [formGroup]="formGroup" >
        <mat-form-field>
          <input matInput placeholder="Full Name" formControlName="full_name">
          <mat-error *ngIf="formGroup.get('full_name')?.hasError('required')">Full Name is required</mat-error>
          <mat-error *ngIf="formGroup.get('full_name')?.hasError('minlength')">Full Name must be at least 3 characters</mat-error>
        </mat-form-field>
  
        <mat-form-field>
          <input matInput placeholder="Email" formControlName="email">
          <mat-error *ngIf="formGroup.get('email')?.hasError('required')">Email is required</mat-error>
          <mat-error *ngIf="formGroup.get('email')?.hasError('email')">Invalid email format</mat-error>
        </mat-form-field>
  
          <button mat-button color="light" [matMenuTriggerFor]="lvl1master">{{ selectedGroup }}</button>
          <mat-menu #lvl1master="matMenu">
            <button mat-menu-item (click)="selectGroup('admin')">admin</button>
            <button mat-menu-item (click)="selectGroup('registered')">registered</button>
          </mat-menu>
          <div mat-dialog-actions fxLayoutAlign="end">
            <button (click)="saveAction()" type="submit" mat-raised-button color="primary">Save</button>
            <button  (click)="closeBox()" mat-button>Cancel</button>
          </div>
      </form>
    </div>

  </div>
  









